body {
    background-color: #d3f8f4;
}

h1 {
    color: white;
    background-color: #f5a3d7; 
    text-align: center;
    padding: 70pt; 
    letter-spacing: 10pt;

    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bgcolor {
    0% {
        background-color:  #cc0052
    }

    15% {
        background-color:#ec46af
    }

    30% {
        background-color:	 #ffbf00
    }

    60% {
        background-color:   #ffdb4d
    }

    75% {
        background-color:    #990000
    }

    90% {
        background-color: #b9137c
    }

    100% {
        background-color: #ff66a3
    }
}


h2 {
    color: turquoise; 
}

h3 {
    font-size: 20pt; 
    font-weight: bold; 
-webkit-animation: color 20s infinite;
    animation: color 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.usblock {
    background-color: white;  
    width: 50%; 
    padding: 50pt; 
    margin: 20pt; 
}

.usblock p {
    font-size: 10pt; 
}

@keyframes color {
    0% {
        color:  #cc0052
    }

    15% {
        color:#ec46af
    }

    30% {
        color:	 #ffbf00
    }

    60% {
        color:   #ffdb4d
    }

    75% {
        color:    #990000
    }

    90% {
        color: #b9137c
    }

    100% {
        color: #ff66a3
    }
}

.navbar-custom {
    background-color: darkcyan;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.navbar-custom .navbar-nav .nav-link {
    color:white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: turquoise;
}

.nav-item.active  {
    font-weight: bold; 
}

/* for dropdown only - change the color of dropdown */
.navbar-custom .dropdown-menu {
    background-color: #d3f8f4;
}
.navbar-custom .dropdown-item {
    color: darkcyan;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}

.blog {
    width: 70%; 
    margin: 0 auto;
}

.blog {
    background-color: white; 
    padding-right:50pt; 
    padding-left: 50pt; 
    padding-top: 20pt; 
    padding-bottom: 20pt; 
}