/* style1 {
}

.style2 {

}

.column {

}

.reverse {

}

.responsive {

}

.tab {

}

.style22 {

}

.navbar-light .navbar-nav .nav-link {
    color: #007bff; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: darkblue; 
}
.navbar-light .navbar-nav .active>.nav-link {
    color:#007bff; 
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color:darkblue; 
} 

*/